<!-- Enable MathJax globally for the site -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrFp34v2rfk3fK16Yt1z0f1a9u+X7i0g9O5C5w2U5yVzJ5f6T8y3y8g4z7j9z0f" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-xWq2RjE9z5F0c4z9q3z7v8z2w8x6y7g5i4" crossorigin="anonymous"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});" integrity="sha384-6S22f0X0z0W3A5z2I7y6e8D5E9f4q1j8b3E7y0w4z9q3z7v8z2w8x6y7g5i4" crossorigin="anonymous"></script>
